
nav{
    display: flex;
   
    top:0;
    width: 100%;
    background-color: black;
    
   
 }
 .left-links{
    flex:1 1 200px;

}
#nb
{
    font-family: cursive;
}
#avn
{
    font-size: 30px;
    font-family: Brush Script MT ;
}
.selected
{
    font-size: large;
}

 .links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: wheat;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
 }

 .links:hover
 {
     background-color: rgb(202, 202, 61);
     color: blue;
     transform: scale(1.3);
 }
 


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pexels-acharaporn-kamornboonyarush-1028714.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}
.card-container{
    display: grid;
    opacity: 0.8;
    
}

.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
    font-family: cursive;
}
.card-content{
    background: #fff;
    height: 330px;
   
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
    
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
    
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: black;
}
form input[type = submit]{
    color: #fff;
    background: #8a2f1f;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}



.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  margin-top: 20px;
  
}

.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  
}
.site-footer a
{
  color:#737373;
}
.row{
        display: flex;
        flex-direction: row;
}

#cat
{
    margin-left: 150px;
}

#ql
{
    margin-left: 150px;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  margin-top: 15px;
}
.text-justify
{
    margin-top: 15px;
}
#abt
{
    margin-left: 20px;
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right;
  
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

#cpy
{
    margin-top: 20px;
    margin-left: 20px;
}

#si
{
    margin-left: 800px;
    margin-top: 20px;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color: #007bb6
}


