.nav-link {
  text-decoration-line: none;
  color: cornsilk;
  font-size: 20px;
  font-family: cursive;
  font-weight: bolder;
  transition: 0.5s ease;


}

.nav-link:hover{
  transform: scale(1.3);
  background-color: rgba(245, 194, 99, 0.884);
  transition: 0.5s ease;
}


.navbar-brand
{
  font-size: 40px;
}
#div1 {
  height: 1145px;
  width: 100%;
  background-image: url("food2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -300px;

}

#one {
  margin-top: -750px;
  float: right;
  margin-right: 200px;
  font-style: italic;
  color: ivory;
  font-size: 40px;
  font-weight: bold;

}

#two {
  margin-top: -700px;
  float: right;
  margin-right: 100px;
  color: ivory;
  font-family: Brush Script MT;
  font-size: 80px;
}

#three {
  margin-top: -555px;
  float: right;
  color: ivory;
  margin-right: 530px;
}

#four {
  margin-top: -550px;
  float: right;
  color: ivory;
  margin-right: 100px;
  font-size: 30px;
  font-family: Forte;
}

#five {
  margin-top: -578px;
  float: right;
  margin-right: 85px;
  color: lavender;
}

#six {
  margin-top: -520px;
  float: right;
  font-size: 30px;
  margin-right: 160px;
  color: ivory;
  font-family: Forte;
}

#div4 {
  font-size: 30px;
  color: ivory;
  font-family: Forte;
}

#div5 {
  height: 600px;
  width: 100%;
  background-color: ivory;
}

.sec1 {
  height: 400px;
  width: 33.33%;
  margin-top: 100px;
  background-color: gray;
 
 
  position: relative;
  z-index: 2;

}

.sec2 {
  height: 500px;
  width: 33.33%;
  background-image: url("coffee1234.jpg");
  background-size: cover;
  margin-top: 50px;
  margin-left: -50px;
  background-repeat: no-repeat;

}

.sec3 {
  height: 600px;
  width: 33.33%;
  margin-left: 30px;
  margin-top: 43.5px;
}

#pone {
  margin-top: -30px;
  font-size: 30px;
}

#ptwo {
  margin-top: 60px;

}

#ptwo a {
  color: black;
  text-decoration-line: underline;
}

#div6 {
  height: 600px;
  width: 100%;
  background-color: rgba(210, 216, 221, 0.377);
}

.part1 {
  height: 400px;
  width: 33.33%;
}

.part2 {
  height: 400px;
  width: 33.33%;
}

.part3 {
  height: 400px;
  width: 33.33%;
}

.part1 img {
  margin-left: 300px;
  margin-top: 150px;
  height: 90px;
}


.part2 img {
  margin-left: 280px;
  margin-top: 150px;
  height: 90px;
}

.part3 img {
  margin-left: 300px;
  margin-top: 150px;
  height: 90px;
}

.part1 img:hover,
.part2 img:hover,
.part3 img:hover {
  transform: scale(1.5);
}

#aone {
  margin-left: 255px;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 23px;
  font-family: Calibri Light;

}

#atwo {
  margin-left: 255px;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 23px;
  font-family: Calibri Light;

}

#athree {
  margin-left: 255px;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 23px;
  font-family: Calibri Light;

}

.text1 {
  margin-left: 225px;
  margin-top: 35px;
}

.text2 {
  margin-left: 200px;
  margin-top: 70px;
}


.text3 {
  margin-left: 200px;
  margin-top: 70px;
}

#text4 {
  text-align: center;
  margin-top: 100px;
}

#head1 {
  text-align: center;
  margin-top: 35px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tab1 img,
.tab2 img,
.tab3 img {
  height: 600px;
  width: 40%;
}

#div7 {
  height: 300px;
  width: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 1px solid black;
}

#prt1:hover , #prt2:hover , #prt3:hover{
  color: white;
  background-color: orange;
  transform: scale(1.3)
}











.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 70px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color: #007bb6
}
#gal
{
  margin-left: 700px;
  font-family: Forte;
  font-size: 40px;
}

.gallery
{
  width: 100%;
  height: 1000px;
}

.rowrone
{
  width: 100%;
  height: 250px;
  margin-top: 70px;
}

.colcone 
{
    width: 30%;
    height: 300px;
    background-color: crimson;
    margin-left: 42.5px;
    background-image: url("ctwo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.colctwo
{
    width: 30%;
    height: 300px;
    background-color: darkgreen;
    margin-left: 50px;
    background-image: url("des1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.colcthree
{
    width: 30%;
    height: 300px;
    background-color: darkorange;
    margin-left: 50px;
    background-image: url("des6.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.rowrtwo
{
  width: 100%;
  height: 250px;
  margin-top: 70px;
}

.colcfour
{
    width: 30%;
    height: 300px;
    background-color: crimson;
    margin-left: 42.5px;
    background-image: url("des2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.colcfive
{
    width: 30%;
    height: 300px;
    background-color: crimson;
    margin-left: 50px;
    background-image: url("cuban\ coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.colcsix
{
    width: 30%;
    height: 300px;
    background-color: crimson;
    margin-left: 50px;
    background-image: url("des3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.rowrthree
{
  width: 100%;
  height: 250px;
  margin-top: 70px;
}

.colcseven
{
    width: 30%;
    height: 300px;
    background-color: crimson;
    margin-left: 42.5px;
    background-image: url("cfour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.colceight
{
    width: 30%;
    height: 300px;
    background-color: crimson;
    margin-left: 50px;
    background-image: url("des4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.colcnine
{
    width: 30%;
    height: 300px;
    background-color: crimson;
    margin-left: 50px;
    background-image: url("cfive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.colcone:hover{
    transform: scale(1.04) ;
    box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colctwo:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colcthree:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colcfour:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colcfive:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colcsix:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colcseven:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colceight:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}
.colcnine:hover{
  transform: scale(1.04);
  box-shadow: 0 4px 8px 0 rgba(241, 10, 10, 0.2), 0 6px 20px 0 rgba(241, 10, 10, 0.2);
}


body{
  margin:0;
  padding:0;
}
section{
  width:100%;
  height:auto;
  margin:auto;
  Background-color:#E8E8E8;
}
.team{
  padding:5% 5%;
}
.team h1{
  text-align:center;
  font-size:36px;
}
.team h1 hr{
  width:5%;
  border-top:2px solid #000;
  background-color:transperant;
  border-bottom:none;
  margin-bottom:50px;
}
.team .card{
  position:relative;
  width:300px;
  height:400px;
  background-color:rgb(240, 234, 234);
  display: inline-block;
  margin-left: 8.2%;
  box-shadow:0 5px 10px rgba(0,0,0,0.5);
}
.card img{
  position:absolute;
  background-color:rgb(221, 123, 123);
  width:100%;
  border:none;
  top:0;
  left:0;
}

.team .card p{
  position:absolute;
  margin:0;
  display:inline-block;
  top:60%;
  left:50%;
  font-size:20px;
  transform:translate(-50%);
} 

#par
{
  text-align: center;
}

#c1
{
  background-image: url("george.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


#c2
{
  background-image: url("chef9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#c3
{
  background-image: url("garry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 70px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color: #007bb6
}
